#oops{
  display: none;
}
html {
    scroll-behavior: smooth;
   }
      .side-btn {
        position: absolute;
        top: -50px;
        align-self: center;
      }
  
      .side-btn:first-child {
        left: 120px;
        font-size: 16px;
      }
  
      .side-btn:nth-child(2) {
        left: 240px;
        font-size: 16px;
      }
  
  
      .nav-fixed {
        position: fixed;
        z-index: 2;
        width: 100%;
      }
  
      
      #sidebar-container {
        z-index: 1;
        width: 100px;
        position: relative;
        top: 5.25rem;
        display: block;  
      }
     
      .side-right {
        margin: 0px;
        position: sticky;
        z-index: 1;
        top: 0.5rem;
      }
  
      #sidebar {
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* height: 100%; */
        width: 250px;
        background-color: whitesmoke;
        display: none;
        position: absolute;
  
        border-radius: 5px;
        padding-top: 1rem;
        padding-bottom: 5rem;
        align-items: center;
        text-align: center;
      }
  
      .link {
        font-size: 22px;
        /* color: black; */
        text-decoration: none;
        text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
        ;
        line-break: loose;
        font-size: inherit;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      #mydiv {
        position: absolute;
        z-index: 9;
        /* background-color: #f1f1f1; */
        /* border: 1px solid #d3d3d3; */
        /* text-align: center; */
      }
  
      #mydivheader {
        /* padding: 10px; */
        cursor: move;
        z-index: 10;
        /* background-color: #2196F3; */
        /* color: #fff; */
      }
      
  
      #information {
        font-size: 32px;
        /* margin-right: 1rem; */
        left: 360px;
        display: none;
      }
  
      #colormode:hover {
        cursor: pointer;
      }
  
      #information:hover {
        cursor: pointer;
      }
      .description,.modal-dialog{
        width: 100%;
        
      }
      #modal-body{
        padding: 2rem;
      }
      .link:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
       #main_nav{
         
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
       }
  
      #send{
              color: white;
              
              font-size: 22px;
          }
          #send:hover{
              box-shadow: rgb(26, 150, 252) 0px 0px 10px;
              background-color: rgb(26, 150, 252);
              text-shadow: white 0px 0px 3px;
          }
          .form{
              background-color: white;
              padding: 5rem;
              border-radius:1rem;
              z-index: 10;
              box-shadow: rgb(126, 126, 126) 0px 0px 1rem;
          }
          .modal-dialog{
            width: 70rem;
          }
          @media screen and (min-width: 700px) {
            .dis{
              display: none;
            }
            .message{
              width: 100%;
            }
            .form{
              padding: 3rem;
            }
            #pro{
              overflow-x: auto;
            }
            .modal-dialog{
              margin: 0px;
              margin-top: 3rem;
            }
        }
        @media screen and (min-width: 780px) {
        
          .form{
            width: 50rem;
            margin-left: -12rem;
          }
      }
      @media screen and (min-width: 1000px) {
        .form{
          width: 50rem;
          margin-left: 2rem;
        }
    }
    .intro{
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-position-y: -200px;
      background-repeat: no-repeat;
      width: 100% auto;
      height: 50rem;
      /* background-color: blueviolet; */
      background-image: url('../img/svg2.svg');
    }
    #heading1{
      padding: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
      color: whitesmoke;
      font-weight: bold;
      animation-duration: 1s;
      scroll-behavior: smooth;
      animation-fill-mode: forwards;
      animation-name: transition-heading;
    }


#para2{ 
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: para-trans;
}

#para{

  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-name: para-trans;
}

.para{
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.25); 
  border-radius: 2rem;
  /* font-weight: bold; */
  font-variant: normal;
  font-smooth: initial;
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}



.tech{
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  height: 500px;
}
























@keyframes para-trans {
  from{opacity: 0.0;}
  to{opacity: 1.0;}
  
}

/* Mobile view */
@media screen and (max-width:320px) {
  #body{
    display: none;
  }
  #oops{
    display: block;
    text-align: center;
  }
}
@media screen and (max-width:340px) {
  #pro{
    display: none;
  }
}
@media screen and (max-width:676px){
  #para{
    margin-top: 0.5rem;
  }
  #para2{
    margin-top: 0.5rem;
  }

} 

@media screen and (max-width:542px){
  .intro{
    height: 100px;
  }
  #para{
    margin-top: 5rem;
  }
  .para{
    
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 16px;
    padding-left:10px;
    padding-right: 10px;
    margin: 5px;
  }
}
@media screen and (max-width:520px){
  .intro{
    height: 100px;
  }
  .para{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 16px;
    padding-left:10px;
    padding-right: 10px;
    margin: 5px;
  }
}
    @media screen and (min-width:360px) {
   
      #heading1{
        font-size:3rem;
        text-align:start;
        padding-right: 0px;
      }
      #phn-1{
        left: -2rem;
      }
    .modal-dialog{
      width: 360px;
    }
    #tab-1{
      display: none;

    }
    #mob-1{
      display: none;
    }
    
      @keyframes transition-heading {
        from{opacity:0.3;padding-left: 10px;}
        to{opacity: 1;padding-left: 25px;}
      }
    }
   


/* Mobile view */
@media screen and (min-width:400px) {
  #heading1{
    font-size:3rem;
    text-align:start;
    padding-right: 0px;
  }
  #phn-1{
    width: 400px;
    left: -0.5rem;
  }
  #screen-1{
    width: 360px;
  }
.modal-dialog{
  width: 360px;
}
#tab-1{
  display: none;

}
#mob-1{
  display: none;
}

  @keyframes transition-heading {
    from{opacity:0.3;padding-left: 10px;}
    to{opacity: 1;padding-left: 25px;}
  }
}




@media screen and (min-width:600px) {
  #heading1{
    font-size:4rem;
    text-align:start;
    padding-right: 0px;
  }
  #phn-1{
    margin-top: 50px;
    left: -1rem;
    width: 460px;
    transform:scale(0.9);
  }
#screen-1{
  width: 400px;
}
.modal-dialog{
  width: 600px;
}

    #tab-1{
      display: block;

    }
    #mob-1{
      display: block;
    }
    #phn-container{
      overflow-x: scroll;
    }
  @keyframes transition-heading {
    from{opacity:0.3;padding-left: 20px;}
    to{opacity: 1;padding-left: 60px;}
  }
}


/*  small LAPTOP  and tab */
@media screen and (min-width:1000px) {
  .dis{
    display: block;
  }
  #phn-container{
    overflow: hidden;
  }
  .message{
    width: auto;
  }
}


body {
  background-color: white;
}

.nav_link {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
}

.nav_link:hover {
  background-color: rgba(0, 0, 0, 0.2);

}
.card {
  margin-top: 1rem;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
border-radius: 5px; /* 5px rounded corners */
padding: 3rem;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.img {
border-radius: 5px 5px 0 0;
height: 12rem;
width: 16rem;
}
.des-svg{
  padding-top:1rem ;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.container-card {
padding: 2px 16px;
}



::-webkit-scrollbar {
            width: 0px;
        }


.row-tech:after {
content: "";
display: table;
clear: both;
overflow-x: scroll;
overflow-y: hidden;
}
.column {
float: left;
width: 25%;
padding: 10px;
/* height: 300px; Should be removed. Only for demonstration */
}
@media screen and (max-width:500px) {

.tech{
overflow-x: hidden;
overflow-y: scroll;
scroll-behavior: smooth;
} 
.column{
width: 100%;
float: none;
}

}




.column-half {
  
  float: none; 
  width: 100%;
  padding: 10px;
  }

  @media screen and (min-width:501px){
    .column-half {
      float: left;
      width: 50%;
      padding: 10px;  
      }
    }
    





.proj-heading{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.proj-btn{
margin-top: 1rem;
margin-bottom:1rem ;
}